<!DOCTYPE html>
<html>
<head>
    <title>HealthCare ChatBot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-messages" id="chat-messages">
            <!-- Chat messages will be displayed here -->
        </div>
        <form id="chat-form">
            <input type="text" id="user-input" placeholder="Enter a symptom...">
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        alert("This project is for Kratin LLC task.");
    </script>
</body>
</html>
